    


<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        
<form action="" class="border border-5">



<img src="../../assets/images/bank.jpg" alt=""><br><br>
<h1 >MY BANK</h1>

<h6>{{aim}}</h6>


<input (change)="acnoChange($event)" type="text" placeholder="accountnumber"id="log_acno"class=" container form-control"><br><br>
<input (change)="pswdChange($event)" type="text" placeholder="password"id="log_pswd" class="container form-control"><br><br>


<button align-items="center" class="btn btn-primary  "(click)="login()"  type="button">login</button><br><br>


<a href="signup.html"onclick="singup()" id="b">singup</a>
</form>
    </div>
   
</div>